# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
bin/
obj/

# Rider
.idea/

# OS
.DS_Store
Thumbs.db

# Android
*.keystore

# iOS
*.xcuserstate
*.xcworkspace
*.xcuserdata

# Logs
*.log
